elasticsearch-data
.idea
__pycache__
mitmproxy/requests/*.txt
mitmproxy/requests/*.mitm
mitmproxy/query/*.txt
.env
.env*
.DS_Store
docker/quesma/logs/err.log
docker/quesma/logs/quesma.log
quesma/logs/err.log
quesma/logs/quesma.log
heap.out
**/.terraform.lock.hcl
**/terraform.tfstate*
**/.terraform.tfstate*
**/.terraform
docker/ngrok/ngrok.yml
docker/security/ca
docker/security/es.local
docker/security/certificate-bundle.zip
