#licenseKey: {your-quesma-license-key-if-needed} # license key is required for paid features such as `hydrolix` backend conector
frontendConnectors:
  - name: elastic-ingest
    type: elasticsearch-fe-ingest
    config:
      listenPort: 8080
      disableAuth: true
  - name: elastic-query
    type: elasticsearch-fe-query
    config:
      listenPort: 8080
backendConnectors:
  - name: my-minimal-elasticsearch
    type: elasticsearch
    config:
      url: "http://elasticsearch:9200"
      adminUrl: "http://localhost:5601"
  - name: my-clickhouse-data-source
    type: clickhouse-os
    config:
      url: "clickhouse://clickhouse:9000"
      adminUrl: "http://localhost:8123/play"
ingestStatistics: true
logging:
  path: "logs"
  level: "info"
  disableFileLogging: false
processors:
  - name: my-query-processor
    type: quesma-v1-processor-query
    config:
      indexes:
        kibana_sample_data_ecommerce:
          target:
            - my-clickhouse-data-source
          schemaOverrides:
            fields:
              "geoip.location":
                type: geo_point
              "products.manufacturer":
                type: text
              "products.product_name":
                type: text
              category:
                type: text
              manufacturer:
                type: text
        kibana_sample_data_flights:
          target:
            - my-clickhouse-data-source
          schemaOverrides:
            fields:
              "DestLocation":
                type: geo_point
              "OriginLocation":
                type: geo_point
        logs-generic-default:
          target:
            - my-clickhouse-data-source
          schemaOverrides:
            fields:
              timestamp:
                type: alias
                targetColumnName: "@timestamp"
              message:
                type: text
              "host.name":
                type: text
              "service.name":
                type: "keyword"
              source:
                type: "keyword"
              severity:
                type: "keyword"
        "*":       # DO NOT remove, always required
          target:
            - my-minimal-elasticsearch
  - name: my-ingest-processor
    type: quesma-v1-processor-ingest
    config:
      indexes:
        kibana_sample_data_ecommerce:
          target:
            - my-clickhouse-data-source
          schemaOverrides:
            fields:
              "geoip.location":
                type: geo_point
              "products.manufacturer":
                type: text
              "products.product_name":
                type: text
              category:
                type: text
              manufacturer:
                type: text
        kibana_sample_data_flights:
          target:
            - my-clickhouse-data-source
          schemaOverrides:
            fields:
              "DestLocation":
                type: geo_point
              "OriginLocation":
                type: geo_point
        logs-generic-default:
          target:
            - my-clickhouse-data-source
          schemaOverrides:
            fields:
              timestamp:
                type: alias
                targetColumnName: "@timestamp"
              message:
                type: text
              "host.name":
                type: text
              "service.name":
                type: "keyword"
              source:
                type: "keyword"
              severity:
                type: "keyword"
        "*":
          target:
            - my-minimal-elasticsearch
pipelines:
  - name: my-pipeline-elasticsearch-query-clickhouse
    frontendConnectors: [ elastic-query ]
    processors: [ my-query-processor ]
    backendConnectors: [ my-minimal-elasticsearch, my-clickhouse-data-source ]
  - name: my-pipeline-elasticsearch-ingest-to-clickhouse
    frontendConnectors: [ elastic-ingest ]
    processors: [ my-ingest-processor ]
    backendConnectors: [ my-minimal-elasticsearch, my-clickhouse-data-source ]