name: E2E tests

on: # @TODO should we run it on PRs?
  merge_group:
  push:
    branches: [ "main" ]
  workflow_dispatch:
    inputs:
      GIT_REF:
        description: 'Commit hash to run the tests'
        required: true
jobs:
  build-quesma-docker-image:
    uses: ./.github/workflows/build-quesma-docker-image.yml

  e2e-test-run:
    runs-on: ubuntu-latest
    needs: [build-quesma-docker-image]
    steps:
      - uses: actions/checkout@v4
        with:     ## @TODO REMOVE
          ref: ${{ github.event.inputs.GIT_REF }}

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          cache-dependency-path: smoke-test/go.sum
          go-version: '1.24'

      - name: Download images
        uses: actions/download-artifact@v4
        with:
          path: /tmp/images

      - name: Load images
        run: |
          for file in /tmp/images/*/*.tar; do
            docker load --input $file
          done
          docker image ls -a  

      - name: Build and start docker compose
        timeout-minutes: 10
        run: docker compose -f ci/e2e.yml up -d

      - name: Wait until Elasticsearch is up
        timeout-minutes: 6
        run: until [ "$(curl -s -o /dev/null -w "%{http_code}" localhost:9200)" = "200" ]; do sleep 3; done

      - name: Wait until ClickHouse is up
        timeout-minutes: 6
        run: until [ "$(curl -s -o /dev/null -w "%{http_code}" localhost:8123)" = "200" ]; do sleep 3; done

      - name: Wait until Quesma is up ('/' is call routed to Elasticsearch)
        timeout-minutes: 6
        run: until [ "$(curl -s -o /dev/null -w "%{http_code}" localhost:8080)" = "200" ]; do sleep 3; done

      - name: Run e2e tests
        working-directory: quesma
        run: go test -race --tags=integration  -v ./...

